/* title section */
.title{
  margin: 3rem auto;
}

/* product list section */
.product {
  border: 1px solid black;
  margin-bottom: 2rem;
}

.product-img {
  width: 100%;
  height: 15rem;
  object-fit: cover; /* Make images square */
}

.card-body a:hover{
  color: white;
}